// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

html, body {
  font-family: 'Helvetica', 'Roboto Mono', 'Arial';
}

.avatar {
  width: 10em;
  height: 10em;
  border-radius: 50em;
  margin-left: 1.30em;
  margin-bottom: .5em;
  position: relative;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.avatar::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.avatar:hover {
  -webkit-transform: scale(1.10, 1.10);
  transform: scale(1.10, 1.10);
}

.avatar:hover::after {
    opacity: 1;
}
.layout .header .mdl-textfield {
  padding-top: 27px;
}
.layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 0px;
}
.drawer {
  border: none;
}
/* iOS Safari specific workaround */
.drawer .mdl-menu__container {
  z-index: -1;
}
.drawer .navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.drawer .mdl-menu .mdl-menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.drawer-header {
  background-color: #424242;
  padding: 1em 1em 2em .75em;
  height: 18em;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  // -webkit-box-pack: end;
  // -webkit-justify-content: flex-end;
  //     -ms-flex-pack: end;
          justify-content: end;
}
.avatar-dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*position: relative;*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navigation {
  background-color: #e0e0e0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.layout .navigation .mdl-navigation__link {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 400;
}
.layout .navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}

.navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.content {
  margin: .75em auto;
  max-width: 98%;
}

.charts {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.chart:nth-child(1) {
  color: #ACEC00;
}
.chart:nth-child(2) {
  color: #00BBD6;
}
.chart:nth-child(3) {
  color: #BA65C9;
}
.chart:nth-child(4) {
  color: #EF3C79;
}
.graphs {
  padding: 16px 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .graph {
  max-height: 300px;
}
/* TODO end */
.graph:nth-child(1) {
  color: #00b9d8;
}
.graph:nth-child(2) {
  color: #d9006e;
}

.cards {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.cards .separator {
  height: 32px;
}
.cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.cards ul {
  padding: 0;
}
.cards h3 {
  font-size: 1em;
}
.updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.options h3 {
  margin: 0;
}
.options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.options ul {
  margin: 0;
  list-style-type: none;
}
.options li {
  margin: 4px 0;
}
.options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.options .mdl-card__actions {
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;  /* Preferred icon size */
  display: inline-block;
  margin-right: .5em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.mdl-layout__header {
  background-color: #eeeeee;
}

.mdl-layout__tab {
  font-weight: 300;
  color: #424242 !important;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
  background: #00b0ff;
}

a:hover i {
  color: #00b0ff;
}

#my-name {
  margin-top: .5em;
  margin-left: .5em;
  font-size: 1.4em;
  color: white;
  font-weight: 300;
}

.drawer-icons {
  margin-right: 1em !important;
  color: #424242 !important;
}

.link-icon-div {
  display: inline-block;
}

.drawer-span {
  display: inline-block;
  font-weight: 300;
  font-size: 1.25em;
  color: #424242 !important;
  border-bottom: 1px black;
}

.mdl-layout__drawer .mdl-navigation {
  width: 99.7%;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover i {
  color: #00b0ff !important;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #F5F5F5 !important;
}

#accbtn {
  margin-top: .15em;
  color: white;
}

.link-div {
  margin: 1em 1em;
}

#topbar-name {
  color: #424242;
  font-size: 1.75em;
  margin-top: 1em;
  margin-right: 1em;
  display: block;
}

#topbar-job {
  display: block;
  color: #424242;
  text-align: center;
  margin-top: .5em;
  margin-right:1em;
}

.mdl-layout__header .mdl-layout__drawer-button {
  display: none;
}

@media (min-width: 1025px) {
  #topbar-name-div {
      display: none;
  }
}

.avatar-div {
  margin: 0em 1em;
  height: 95%;
  width: 95%;
  img {
    border: .5em solid white;
  }
}

#drawer-job-div {
  // margin-top: .1em;
}

#drawer-job {
  text-align: center;
  color: #9E9E9E;
  margin-left: 1.5em;
}

#name-drawer {
  margin-bottom: 1.5em;
}

.skills-div-drawer {
  width: 99.7%;
  border-bottom: .5px solid white;
  // border-right: 2px solid white;
  // overflow-y: auto;
}

// Small Screen
@media (max-width: 1024px) {
  .mdl-layout__header .mdl-layout__drawer-button {
    display: block;
    color: #424242;
    -webkit-animation-name: color-animation;
    -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease;
    animation-name: color-animation;
    animation-duration: 3s;
    animation-timing-function: ease;
  }
  @-webkit-keyframes color-animation {
    0% {color: #00b0ff;}
    25% {color: #424242;}
    50% {color: #00b0ff;}
    100% {color: #424242;}
  }
  @keyframes color-animation {
    0% {color: #00b0ff;}
    25% {color: #424242;}
    50% {color: #00b0ff;}
    100% {color: #424242;}
  }
  .skills-div-tab {
    display: block;
  }
  .skills-div-drawer {
    display: none;
  }
  .exp-div {
    display: none;
  }
  .mdl-layout__header .mdl-layout__drawer-button i {
    font-size: 1em;
    margin-left: .5em;
    margin-top: .25em;
  }
  .mdl-layout__header .mdl-layout__drawer-button i:hover {
    color: #00b0ff;
  }
  .mdl-layout__header-row {
    text-align: center;
    margin: 0 auto 1.5em;
  }
  .mdl-navigation a {
    display: none;
  }
  .mdl-navigation p {
    display: none;
  }
  #topbar-name-div {
    // center name
    margin-right: 2.25em;
  }
}

#other-nav {
  display: none;
}

// Big Screen
@media (min-width: 1025px) {
  #contact-nav {
    display: none;
  }
  #other-nav {
    display: block;
  }
  .exp-div {
    display: block;
  }
  .exp-div-tab {
    display: none;
  }
  .skills-div-tab {
    display: none;
  }
}

////////////////// RESUME //////////////////////

.jumbotron {
  background-color: #E0E0E0;
}

.resume-headers {
  margin-top: 0px;
}

.main-area {
  // background-image: url("");
  background-color: #fafafa;
}

.about {
  margin-top: 1em;
  background-color: white;
  width: 94%;
}

.skills-card.mdl-card {
  width: 100%;
  height: 100%;
}

.skills-card > .mdl-card__title {
  height: 120px;
  color: #fff;
  background:
    url('https://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Ruby_on_Rails.svg/791px-Ruby_on_Rails.svg.png') bottom right 15% no-repeat #46B6AC;
}

.mdl-card__title {
  background-color: #E0E0E0;
}

.skill {
  margin-top: .75em;
  margin-left: 1em;
  font-size: 1em;
}

.skills-div:hover .resume-icons {
  color: #00b0ff;
}

.exp-div:hover .resume-icons {
  color: #00b0ff;
}

.job-line {
  font-size: 1em;
  margin-left: .5em;
  margin-bottom: 5px;
}

.job {
  font-weight: 300;
}

.job-desc {
  padding-top: 0px;
  padding-bottom: 5px !important;
}

.mdl-card__supporting-text {
  padding-top: 0px;
}

.job-date {
  margin-left: 1.2em;
  font-size: .8em;
}

.employer {
  font-weight: 500;
}

.edu-div:hover .resume-icons {
  color: #00b0ff;
}

.school-line {
  font-size: 1em;
  margin-left: .5em;
  margin-bottom: 5px;
}

.school-city {
  font-style: italic;
  font-weight: 300;
}

.proj-div:hover .resume-icons {
  color: #00b0ff;
}

.proj-name-div {
  padding-top: 1em;
}

.proj-url {
  font-style: italic;
  font-weight: 300;
}

.proj-line {
  color: black;
  font-size: 1em;
  margin-top: 1em;
  margin-left: .5em;
  margin-bottom: 5px;
  text-decoration: none;
}

.proj-line:hover .proj-url {
  color: #00b0ff;
}

.resume-icons:hover {
  color: #00b0ff;
}

.mdl-mini-footer {
  height: 7em;
  padding: 3em;
  align-items: center;
  background-color: white;
  border-top: solid #E0E0E0;
  box-sizing: border-box;
}

.angular-logo {
  height: 2em;
  width: 2em;
}

#wrapper {
  text-align: center;
  display: table;
  margin: 2em auto;
}

#animated-fab-button {
  background-color: #00b0ff;
  color: white;
  transition: .2s ease all;
  -webkit-transition: .2s ease all;
}

#animated-fab-button:hover {
  background-color: white;
  color: #00b0ff;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  box-shadow: -3px -3px 10px rgba(0, 0, 0, .25);
}

.download-icon:hover {
  color: #00b0ff;
}

#download-text-div {
  margin: 1em auto;
  text-align: center;
}

#resp-css-menu {
  float: right;
  color: #424242;
}

#resp-css-menu-tab {
  float: right;
  color: #424242;
}

#db-menu {
  float: right;
  color: #424242;
}

#db-menu-tab {
  float: right;
  color: #424242;
}

.mdl-menu__item {
  display: flex;
  align-items: center;
}

.filler-div {
  background-color: #E0E0E0;
}

.indv-skill-div {
  // background-color: white;
  background-color: #E0E0E0;
  border-top: .5px solid white !important;
  border-bottom: .5px solid white;
}

.indv-skill-div:hover {
  background-color: #F5F5F5;
  // box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  // margin-bottom: 4px;
}

.skills-div-drawer:hover .resume-icons {
  color: #00b0ff;
}

.more-info {
  // height: 7.5em;
  // padding: 3em;
  // align-items: center;
  // background-color: white;
  // border-top: solid #E0E0E0;
  // box-sizing: border-box;
}

#help {
  color: #424242 !important;
}

#help:hover {
  cursor: pointer;
  color: #00b0ff !important;
}

#source-code-url {
  text-decoration: none;
  text-align: center;
}

.skill-title {
  background-color: white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

// Animate Div Shadows
.shadow-animate {
  -webkit-animation-name: four-shadow;
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: ease;
  animation-name: four-shadow;
  animation-duration: 4s;
  animation-timing-function: ease;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}

@-webkit-keyframes four-shadow {
    0% {box-shadow: none;}
    100% {box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);}
}

@keyframes four-shadow {
    0% {box-shadow: none;}
    100% {box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);}
}

// Animate Header Shadows

.mdl-layout__header {
  -webkit-animation-name: header-shadow;
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: ease;
  animation-name: header-shadow;
  animation-duration: 4s;
  animation-timing-function: ease;
}

@-webkit-keyframes header-shadow {
    0% {box-shadow: none;}
    100% {box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);}
}

@keyframes header-shadow {
    0% {box-shadow: none;}
    100% {box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);}
}

// Selection Color and Background-Color
::selection {
    background-color: #00b0ff;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #00b0ff;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #00b0ff;
    color: #fff;
}

::-ms-selection {
    background-color: #00b0ff;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #00b0ff;
    color: #fff;
}

// Topbar Link Hover Effect

a.mdl-layout__tab:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00b0ff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

a.mdl-layout__tab:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
