<div class="mdl-grid">
<!-- First Row for >1024 -->
  <div class="skills-div-tab mdl-card shadow-animate mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <i class="material-icons resume-icons">build</i><h2 class="mdl-card__title-text">Skills</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <p class="skill mdl-js-ripple-effect">
        Ruby on Rails
      </p>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <p class="skill mdl-js-ripple-effect">
        AngularJS
      </p>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <p class="skill mdl-js-ripple-effect">
        Responsive CSS
        <button id="resp-css-menu-tab" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="resp-css-menu-tab">
          <li class="mdl-menu__item">Google MDL</li>
          <li class="mdl-menu__item">SASS</li>
          <li class="mdl-menu__item">Zurb Foundation</li>
          <li class="mdl-menu__item">Bootstrap</li>
        </ul>
      </p>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <p class="skill mdl-js-ripple-effect">
        JavaScript & jQuery
      </p>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <p class="skill mdl-js-ripple-effect">
        Sinatra
      </p>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <p class="skill mdl-js-ripple-effect">
        Relational Database
        <button id="db-menu-tab" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" for="db-menu-tab">
          <li class="mdl-menu__item">SQLite</li>
          <li class="mdl-menu__item">PostgreSQL</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="exp-div-tab mdl-card shadow-animate mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <i class="material-icons resume-icons">work</i><h2 class="mdl-card__title-text">Experience</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <p class="job-line mdl-js-ripple-effect">
        <span class="employer">Ace CPR</span>, <em class="job">Web Developer</em>, <span class="job-city">San Diego, CA</span>
      </p>
    </div>
    <div class="mdl-card__supporting-text job-desc">
      I was responsible for the design and development of Ace CPR’s web application for accepting electronic payments and scheduling appointments. I designed for responsiveness, and incorporated components from Google’s Material Design. An admin interface was provided to give my clients control of their scheduling and page content.
    </div>
    <p class="job-date">Jul 2015 - Sep 2015</p>
    <div class="mdl-card__actions mdl-card--border">
      <p class="job-line mdl-js-ripple-effect">
        <span class="employer">Freelance</span>, <em class="job">Tutor</em>, <span class="job-city">San Diego, CA</span>
      </p>
    </div>
    <div class="mdl-card__supporting-text job-desc">
      Served as a one-on-one tutor for various high school students. Academic subjects included Computer Literacy, World History, and English.
    </div>
    <p class="job-date">Sep 2013 - Jun 2014</p>
    <div class="mdl-card__actions mdl-card--border">
      <p class="job-line mdl-js-ripple-effect">
        <span class="employer">CSUSM</span>, <em class="job">Research Assistant</em>, <span class="job-city">San Marcos, CA</span>
      </p>
    </div>
    <div class="mdl-card__supporting-text job-desc">
      Assisted in studies of psychological capital and how it affects positive team outcomes. Results were compiled for statistical analysis and submitted for peer review.
    </div>
    <p class="job-date">Jun 2011 - Jun 2012</p>
  </div>

<!-- First Row for Tablet & Phone -->
  <div class="exp-div mdl-card shadow-animate mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <i class="material-icons resume-icons">work</i><h2 class="mdl-card__title-text">Experience</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <p class="job-line mdl-js-ripple-effect">
        <span class="employer">Ace CPR</span>, <em class="job">Web Developer</em>, <span class="job-city">San Diego, CA</span>
      </p>
    </div>
    <div class="mdl-card__supporting-text job-desc">
      I was responsible for the design and development of Ace CPR’s web application for accepting electronic payments and scheduling appointments. I designed for responsiveness, and incorporated components from Google’s Material Design. An admin interface was provided to give my clients control of their scheduling and page content.
    </div>
    <p class="job-date">Jul 2015 - Sep 2015</p>
    <div class="mdl-card__actions mdl-card--border">
      <p class="job-line mdl-js-ripple-effect">
        <span class="employer">Freelance</span>, <em class="job">Tutor</em>, <span class="job-city">San Diego, CA</span>
      </p>
    </div>
    <div class="mdl-card__supporting-text job-desc">
      Served as a one-on-one tutor for various high school students. Academic subjects included Computer Literacy, World History, and English.
    </div>
    <p class="job-date">Sep 2013 - Jun 2014</p>
    <div class="mdl-card__actions mdl-card--border">
      <p class="job-line mdl-js-ripple-effect">
        <span class="employer">CSUSM</span>, <em class="job">Research Assistant</em>, <span class="job-city">San Marcos, CA</span>
      </p>
    </div>
    <div class="mdl-card__supporting-text job-desc">
      Assisted in studies of psychological capital and how it affects positive team outcomes. Results were compiled for statistical analysis and submitted for peer review.
    </div>
    <p class="job-date">Jun 2011 - Jun 2012</p>
  </div>
</div>

<!-- Second Row -->
<div class="mdl-grid">
  <div class="edu-div mdl-card shadow-animate mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <i class="material-icons resume-icons">school</i><h2 class="mdl-card__title-text">Education</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <p class="school-line mdl-js-ripple-effect">
        <span class="employer">Dev Bootcamp</span>, <span class="school-city">San Francisco, CA</span>
      </p>
    </div>
    <div class="mdl-card__supporting-text edu-desc">
      Dev Bootcamp is an intensive 19-week web development program. During my time at Dev Bootcamp, I learned full stack web development and contributed to numerous group projects using agile development methods. More importantly, I graduated a full-stack developer capable of learning new technologies in short amounts of time.
    </div>

    <div class="mdl-card__actions mdl-card--border">
      <p class="school-line mdl-js-ripple-effect">
        <span class="employer">Code Fellows</span>, <span class="school-city">Seattle, WA</span>
      </p>
    </div>
    <div class="mdl-card__supporting-text edu-desc">
      During my time at Code Fellows, I completed their Foundations I and Foundations II course. I learned many web development concepts including DOM manipulation, and data algorithms.
    </div>

    <div class="mdl-card__actions mdl-card--border">
      <p class="school-line mdl-js-ripple-effect">
        <span class="employer">California State University San Marcos</span>, <span class="school-city">San Marcos, CA</span>
      </p>
    </div>
    <div class="mdl-card__supporting-text edu-desc">
      CSUSM emphasized the application of the scientific method in researching and analyzing scientific data related to human behavior. I graduated with a B.A. in Psychology in Fall 2012.
    </div>
  </div>
</div>

<!-- Third Row -->
<div class="mdl-grid">
  <div class="proj-div mdl-card shadow-animate mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <i class="material-icons resume-icons">code</i><h2 class="mdl-card__title-text">Projects</h2>
    </div>
    <div class="proj-name-div mdl-card__actions mdl-card--border">
      <a class="proj-line mdl-js-ripple-effect" href="https://github.com/dhanesana/yongBot" target="_blank">
        <span class="employer">yongBot</span>, <span class="proj-url">github.com/dhanesana/yongBot</span>
      </a>
    </div>
    <div class="mdl-card__supporting-text proj-desc">
      yongBot is an IRC (Internet Relay Chat) bot that responds to user commands with fun and useful content relating to music, sports, and technology. This project incorporates many plugins and APIs that retrieve information from the web and presents them to the end users. I developed the bot using the Cinch bot building framework, and configured it to be deployed to Heroku's cloud plajorm.
    </div>

    <div class="proj-name-div mdl-card__actions mdl-card--border">
      <a class="proj-line mdl-js-ripple-effect" href="https://github.com/tani8/hobbyist" target="_blank">
        <span class="employer">Hobbyists</span>, <span class="proj-url">github.com/tani8/Hobbyist</span>
      </a>
    </div>
    <div class="mdl-card__supporting-text proj-desc">
      Hobbyists is a RESTful online web platform that fosters communication between like-minded individuals with shared hobbies. My responsibilities included consuming APIs, user authentication, and creating responsive page layouts while adhering to agile development methods. I contributed to this project during my time at Dev Bootcamp.
    </div>
  </div>
</div>

<!-- Download Button -->
<div class="mdl-grid">
  <div id="wrapper" class="mdl-cell mdl-cell--12-col">
    <!-- Colored FAB button with ripple -->
    <a href="/david_hanesana.pdf" target="_blank">
      <button id="animated-fab-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
        <i class="material-icons download-icon">file_download</i>
      </button>
    </a>
  <div class="" id="download-text-div"><span>Download PDF</span></div>
  </div>
</div>

<!-- Footer -->
<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer--left-section">
    <div>
      <span>PGP: 5C98 7B47 9535 9732 C603 0A3D 28BD 00C3 10D1 97F9</span>
    </div>
  </div>
  <div class="mdl-mini-footer--right-section">
    <div>
      <span>Built with AngularJS <a href="https://angularjs.org/" target="_blank"><img class="angular-logo" src="http://i.imgur.com/Qo2rHIQ.png"/></a></span>
    </div>
  </div>
</footer>


